@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Montserrat&display=swap');




* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

   
}

body{
    background-color: rgb(52, 53, 58);
    color: #afc3e6;
}


.content {
    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
  
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow Condensed', sans-serif;
   

}

h2{
    font-size: 2rem;
    margin-bottom: 1%;
   
}

.centerMe {
    width: 60%;
    padding-bottom: 3%;
   
    padding-top: 1%;
}


/* header*/
header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;


    background-color: #5e87cc;
    color: #afc3e6;
    padding: 3%;
}

header img {
    width: 10%;
}

header h1 {
    font-size: 4rem;
}

footer{
    background-color: #5e87cc;
    color: #afc3e6;
    padding: 3%;
}



/* galleri css*/


.galleryImage{
  
}

.gallery {
    background-color: #515355;
    color:   #ffffff;
}


